<div class="container">

  <h1> Create a recipe </h1>
  <%= form_with(url: "/create_recipe", method: 'post') do %>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" aria-describedby="firstName">
        <div class="ingredients">
          <label for="title">Ingredients</label>
          <input type="text" name="ingredient[]" class="form-control" id="ingredient[]" aria-describedby="ingredient">
        </div>
        <button id ="more-ingredients" class="btn btn-success">More ingredients</button>
        <div class="instructions">
          <label for="title">Instructions</label>
          <input type="text" name="instruction[]" class="form-control" id="instruction[]" aria-describedby="firstName">
        </div>
        <button id ="more-instructions" class="btn btn-success">More instructions</button>      
      </div>
    <%= submit_tag("Submit") %>

  <% end %>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  ingredient = `<input type="text" name="ingredient[]" class="form-control" id="ingredient[]" aria-describedby="ingredient">`;

  instruction = `<input type="text" name="instruction[]" class="form-control" id="instruction[]" aria-describedby="firstName">`;

  $('#more-ingredients').on('click', function() {
    $('.ingredients').append(ingredient);
  });

  $('#more-instructions').on('click', function() {
    $('.instructions').append(ingredient);
  });
})
</script>
 