<h1>Pages#home</h1>

<section class="container">
  <div class="fixed-top">
    <img class="banner" src="https://image.freepik.com/free-photo/table-with-some-vegetables_1112-333.jpg" class="img-fluid" alt="Responsive image">
  </div>
</section>

<div>
  <% if @logged_in_user.nil? %>
    <h2>Sign in</h2>
    <li><%= link_to("Login", controller: "sessions", action: "new") %></li>
  <% else %>
    <h2> Welcome back, <%= @logged_in_user.first_name %></h2>
    <li><%= link_to("Logout", login_path, :method => :delete) %></li>
  <% end %>
</div>
