<h1>Results</h1>


<div class="container-fluid card-holder">
  <% @retrieved.each do |item| %>
    <div class="card" style="width: 18rem;">
      <img src="http://placekitten.com/300/200" class="card-img-top" alt="Food pic">
      <div class="card-body">
        <h3><%= item[:title] %></h3>
        <h5 class="card-title">Ingredients</h5>
        <p class="card-text">
          <ul>
            <% item.ingredients.all.each do |ingredient| %>
              <li><%= ingredient[:name] %></li>
            <% end %>
          </ul>
        </p>
        <h5 class="card-title">Instructions</h5>
        <p class="card-text">
          <ol>
            <% item.instructions.all.each do |instruction| %>
              <li><%= instruction[:content] %></li>
            <% end %>
          </ol>
        </p>
      </div>
    </div>
  <% end %>  
</div>