// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: rgba(77, 113, 143, 100);
}

.splash {
  background-image: url("https://previews.123rf.com/images/manuta/manuta1901/manuta190100102/115735196-variety-of-green-vegetables-and-fruits-on-the-grey-background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}